### Importing Libraries

In [82]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

### Reading Dataset

In [83]:
import sqlite3
import pandas as pd

conn1 = sqlite3.connect('Data/cruise_pre.db')
df1 = pd.read_sql_query("SELECT * FROM cruise_pre", conn1)  
conn1.close()

conn2 = sqlite3.connect('Data/cruise_post.db')
df2 = pd.read_sql_query("SELECT * FROM cruise_post", conn2)  
conn2.close()

### Data Cleaning for EDA

In [84]:
# Combining Both Datasets Because Both have same rows
combined_df = pd.concat([df1, df2], axis = 1)
combined_df = combined_df.drop(['index', 'index'], axis = 1)

In [85]:
# Saving CSV for future Use
combined_df.to_csv('Data/ShipSail_Pandas.csv', index=False)

In [86]:
# Checking Null values
combined_df.isnull().sum()

Gender                                        13456
Date of Birth                                 14684
Source of Traffic                                 0
Onboard Wifi Service                          19492
Embarkation/Disembarkation time convenient    15643
Ease of Online booking                        18355
Gate location                                 17140
Logging                                           0
Onboard Dining Service                        16809
Online Check-in                               15687
Cabin Comfort                                 20252
Onboard Entertainment                         15913
Cabin service                                 13832
Baggage handling                              20293
Port Check-in Service                         14347
Onboard Service                               18327
Cleanliness                                   18402
Ext_Intcode                                       0
Cruise Name                                   15931
Ticket Type                                   20061
Cruise Distance                               14486
Ext_Intcode                                       0
WiFi                                          69734
Dining                                            0
Entertainment                                 60057
dtype: int64

In [87]:
# Dropping Useless Columns
combined_df = combined_df.drop(['Ext_Intcode', 'Ext_Intcode', 'Ext_Intcode', 'Ext_Intcode'], axis = 1)

In [88]:
# Parsing Distance Column
import re
def clean_cruise_distance(distance):
    if isinstance(distance, str):
        numeric_value = re.search(r'\d+', distance)
        if numeric_value:
            return float(numeric_value.group())
    return None
combined_df['Cruise Distance'] = combined_df['Cruise Distance'].apply(clean_cruise_distance)
combined_df['Cruise Distance'] = combined_df['Cruise Distance'].abs()

In [89]:
# Separating Object and Int64/float64 Columns
Num_cols = list(combined_df.select_dtypes(['int64', 'float64']).columns)

In [90]:
# Null Values Imputation
def impute_null_with_mean(df, columns):
    for column in columns:
        mean_value = df[column].mean()
        df[column].fillna(mean_value, inplace=True)

def impute_null_with_mode(df):
    for column in df.select_dtypes(include=['object']):
        mode_value = df[column].mode()[0]
        df[column].fillna(mode_value, inplace=True)

impute_null_with_mode(combined_df)
impute_null_with_mean(combined_df, Num_cols)

combined_df.isnull().sum()

Gender                                        0
Date of Birth                                 0
Source of Traffic                             0
Onboard Wifi Service                          0
Embarkation/Disembarkation time convenient    0
Ease of Online booking                        0
Gate location                                 0
Logging                                       0
Onboard Dining Service                        0
Online Check-in                               0
Cabin Comfort                                 0
Onboard Entertainment                         0
Cabin service                                 0
Baggage handling                              0
Port Check-in Service                         0
Onboard Service                               0
Cleanliness                                   0
Cruise Name                                   0
Ticket Type                                   0
Cruise Distance                               0
WiFi                                          0
Dining                                        0
Entertainment                                 0
dtype: int64

### Exploratory Data Analysis

In [92]:
combined_df = combined_df.drop(['Logging', 'Date of Birth'], axis = 1)

In [95]:
Obj_cols = list(combined_df.select_dtypes('object').columns)

In [99]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in Obj_cols:
    combined_df[f'{col}'] = le.fit_transform(combined_df[f'{col}'])

combined_df

,Gender,Source of Traffic,Onboard Wifi Service,Embarkation/Disembarkation time convenient,Ease of Online booking,Gate location,Onboard Dining Service,Online Check-in,Cabin Comfort,Onboard Entertainment,...,Baggage handling,Port Check-in Service,Onboard Service,Cleanliness,Cruise Name,Ticket Type,Cruise Distance,WiFi,Dining,Entertainment
0,0,0,0,3.00000,5.00000,3.000000,4,2.000000,2.000000,0,...,2.000000,4.00000,2.0,3.000000,0,1,3567.0,1.000000,1,1.000000
1,0,3,2,4.00000,1.00000,2.978526,4,3.249884,4.000000,4,...,3.000000,4.00000,4.0,4.000000,0,0,672.0,0.500578,0,1.000000
2,0,2,0,3.00000,0.00000,5.000000,4,3.249884,5.000000,1,...,1.000000,2.00000,3.0,3.285745,1,0,1167.0,0.500578,0,0.000000
3,0,0,4,4.00000,4.00000,4.000000,3,4.000000,4.000000,4,...,3.633416,3.00000,2.0,4.000000,2,0,280.0,0.500578,0,1.000000
4,1,0,3,4.00000,2.00000,2.978526,2,2.000000,3.439574,2,...,3.633416,5.00000,2.0,3.285745,2,2,1145.0,0.500578,1,0.503142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133741,0,2,0,1.00000,1.00000,4.000000,4,2.000000,3.439574,4,...,3.633416,3.00000,5.0,3.285745,0,2,1506.0,0.500578,1,0.503142
133742,0,1,0,2.00000,2.75817,2.000000,3,3.000000,2.000000,0,...,2.000000,3.00000,2.0,3.285745,0,1,240.0,1.000000,0,1.000000
133743,1,1,1,5.00000,5.00000,5.000000,1,5.000000,5.000000,1,...,5.000000,4.00000,4.0,5.000000,0,1,1947.0,1.000000,0,1.000000
133744,0,2,0,1.00000,1.00000,4.000000,4,2.000000,4.000000,4,...,4.000000,3.00000,5.0,4.000000,0,2,1506.0,0.500578,1,0.503142
133745,1,0,0,3.05585,0.00000,1.000000,4,0.000000,2.000000,1,...,1.000000,3.30847,1.0,5.000000,2,2,80.0,0.500578,0,0.503142

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

X = combined_df.drop(columns=['Ticket Type'])  
y = combined_df['Ticket Type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

mlp = MLPClassifier(hidden_layer_sizes=(100, 50), max_iter=500, random_state=42, verbose=True)
mlp.fit(X_train_scaled, y_train)
y_pred = mlp.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy score:", accuracy)

Iteration 1, loss = 0.39195171
Iteration 2, loss = 0.22576099
Iteration 3, loss = 0.22256426
Iteration 4, loss = 0.22178216
Iteration 5, loss = 0.22067221
Iteration 6, loss = 0.22032885
Iteration 7, loss = 0.21938605
Iteration 8, loss = 0.21909831
Iteration 9, loss = 0.21839847
Iteration 10, loss = 0.21780663
Iteration 11, loss = 0.21695202
Iteration 12, loss = 0.21643401
Iteration 13, loss = 0.21596244
Iteration 14, loss = 0.21537731
Iteration 15, loss = 0.21475791
Iteration 16, loss = 0.21405536
Iteration 17, loss = 0.21385599
Iteration 18, loss = 0.21288267
Iteration 19, loss = 0.21255071
Iteration 20, loss = 0.21179610
Iteration 21, loss = 0.21118233
Iteration 22, loss = 0.21072292
Iteration 23, loss = 0.21000658
Iteration 24, loss = 0.20936679
Iteration 25, loss = 0.20894632
Iteration 26, loss = 0.20807333
Iteration 27, loss = 0.20780389
Iteration 28, loss = 0.20706823
Iteration 29, loss = 0.20656676
Iteration 30, loss = 0.20613978
Iteration 31, loss = 0.20557195
Iteration 32, loss = 0.20509521
Iteration 33, loss = 0.20431459
Iteration 34, loss = 0.20415387
Iteration 35, loss = 0.20322977
Iteration 36, loss = 0.20310253
Iteration 37, loss = 0.20259073
Iteration 38, loss = 0.20202647
Iteration 39, loss = 0.20176419
Iteration 40, loss = 0.20175848
Iteration 41, loss = 0.20047632
Iteration 42, loss = 0.20049106
Iteration 43, loss = 0.19992583
Iteration 44, loss = 0.19968774
Iteration 45, loss = 0.19916561
Iteration 46, loss = 0.19875024
Iteration 47, loss = 0.19769815
Iteration 48, loss = 0.19748451
Iteration 49, loss = 0.19738534
Iteration 50, loss = 0.19706879
Iteration 51, loss = 0.19660475
Iteration 52, loss = 0.19601966
Iteration 53, loss = 0.19578214
Iteration 54, loss = 0.19515980
Iteration 55, loss = 0.19484880
Iteration 56, loss = 0.19473746
Iteration 57, loss = 0.19389774
Iteration 58, loss = 0.19340642
Iteration 59, loss = 0.19340531
Iteration 60, loss = 0.19299534
Iteration 61, loss = 0.19228849
Iteration 62, loss = 0.19253926
Iteration 63, loss = 0.19180406
Iteration 64, loss = 0.19179682
Iteration 65, loss = 0.19113510
Iteration 66, loss = 0.19061775
Iteration 67, loss = 0.19030300
Iteration 68, loss = 0.19019723
Iteration 69, loss = 0.18988396
Iteration 70, loss = 0.18981293
Iteration 71, loss = 0.18938631
Iteration 72, loss = 0.18909098
Iteration 73, loss = 0.18858551
Iteration 74, loss = 0.18842302
Iteration 75, loss = 0.18801416
Iteration 76, loss = 0.18779598
Iteration 77, loss = 0.18724643
Iteration 78, loss = 0.18713878
Iteration 79, loss = 0.18691073
Iteration 80, loss = 0.18675116
Iteration 81, loss = 0.18653076
Iteration 82, loss = 0.18614053
Iteration 83, loss = 0.18573357
Iteration 84, loss = 0.18549277
Iteration 85, loss = 0.18537763
Iteration 86, loss = 0.18518396
Iteration 87, loss = 0.18457392
Iteration 88, loss = 0.18411704
Iteration 89, loss = 0.18436688
Iteration 90, loss = 0.18415898
Iteration 91, loss = 0.18358600
Iteration 92, loss = 0.18350509
Iteration 93, loss = 0.18293659
Iteration 94, loss = 0.18280519
Iteration 95, loss = 0.18253488
Iteration 96, loss = 0.18206208
Iteration 97, loss = 0.18307967
Iteration 98, loss = 0.18219329
Iteration 99, loss = 0.18222013
Iteration 100, loss = 0.18166452
Iteration 101, loss = 0.18157601
Iteration 102, loss = 0.18130716
Iteration 103, loss = 0.18141964
Iteration 104, loss = 0.18082503
Iteration 105, loss = 0.18080052
Iteration 106, loss = 0.18081056
Iteration 107, loss = 0.18015646
Iteration 108, loss = 0.17982742
Iteration 109, loss = 0.17992740
Iteration 110, loss = 0.17923599
Iteration 111, loss = 0.17928209
Iteration 112, loss = 0.17961409
Iteration 113, loss = 0.17932574
Iteration 114, loss = 0.17904064
Iteration 115, loss = 0.17869818
Iteration 116, loss = 0.17878501
Iteration 117, loss = 0.17861592
Iteration 118, loss = 0.17840868
Iteration 119, loss = 0.17819966
Iteration 120, loss = 0.17792051
Iteration 121, loss = 0.17773334
Iteration 122, loss = 0.17776577
Iteration 123, loss = 0.17726964
Iteration 124, loss = 0.17707461
Iteration 125, loss = 0.17686508
Iteration 126, loss = 0.17678719
Iteration 127, loss = 0.17687061
Iteration 128, loss = 0.17652469
Iteration 129, loss = 0.17688357
Iteration 130, loss = 0.17622255
Iteration 131, loss = 0.17609941
Iteration 132, loss = 0.17623817
Iteration 133, loss = 0.17632321
Iteration 134, loss = 0.17599256
Iteration 135, loss = 0.17598602
Iteration 136, loss = 0.17519433
Iteration 137, loss = 0.17544451
Iteration 138, loss = 0.17524450
Iteration 139, loss = 0.17527710
Iteration 140, loss = 0.17501706
Iteration 141, loss = 0.17470316
Iteration 142, loss = 0.17490215
Iteration 143, loss = 0.17484326
Iteration 144, loss = 0.17480375
Iteration 145, loss = 0.17471364
Iteration 146, loss = 0.17423237
Iteration 147, loss = 0.17433105
Iteration 148, loss = 0.17383120
Iteration 149, loss = 0.17396727
Accuracy score: 0.8985794392523364

/Users/mac/anaconda3/envs/tf/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:698: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Assuming combined_df is your combined dataframe with features and target column
# Assuming the target column is named 'Target'

# Splitting the data into features (X) and target (y)
X = combined_df.drop(columns=['Ticket Type'])  # Features
y = combined_df['Ticket Type']  # Target

# Splitting the data into train and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training the decision tree classifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Predicting on the test set
y_pred = clf.predict(X_test)

# Calculating the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy score:", accuracy)

Accuracy score: 0.8559626168224299